* {
    margin: 0;
}
@font-face {
    font-family: 'Inika';
    src: url(../fonts/Inika.woff2) format("woff2");
}
@font-face {    font-family: 'Inika-Bold';
   src: url(../fonts/Inika-Bold.woff2) format("woff2");
}
@font-face {   font-family: 'Inter-Regular';
   src: url(../fonts/Inter-Regular.woff2) format("woff2");
    }

/* font-family: 'Inika', sans-serif;
   font-family: 'Inika-Bold', sans-serif;
   font-family: 'Inter-Regular', sans-serif;
    */

    :root {

    --color-orange: #E06733;
    --color-green: #499A18;
    --color-total-black: #000000;
    --color-links-nav-black: #010201;
    --color-grey: #717171;
    --color-second-grey: #636060;
    --color-bg-section: #EDF2EC;
    }

html {
    box-sizing: border-box;
    margin-top: 0px;
    scroll-behavior: smooth;
    padding-top: 0px;
}


 *::after,
 *::before{
    box-sizing: inherit;
 }

 a {
    color: inherit;
    text-decoration: none;
 }



/*                HEADER!!!!!!!!!!!!!!!!!!                             */

.header {
    height: 134px;
    background: #EDF2EC;
    margin: 0;
    padding: 42px 103px 42px 102px;

}

.container {
    max-width: 1440px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 1225px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav {
width: 452px;
height: 50px;
font-family: 'Inika';
font-size: 16px;
line-height: 50px;
}


a {
    text-decoration: none;
    color: var(--color-black);
}

.ul-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.ul-nav:last-child {
    margin-right: 0;
}

.ul-nav:hover {
    transition: 0.2s all;

transform: scale(1.0);
}


.home {
color: var(--color-orange);
font-weight: 700;
}

.price {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

/* adaptive web design of HEADER*/


@media (max-width: 1345px) {

.navbar {
    width: 986px;
 }

}

@media (max-width: 1240px) {

    .navbar {
        width: 1048px;
    }

}
@media (max-width: 1173px) {

    .navbar {
        width: 960px;
    }

}

@media (max-width: 1077px) {
    .navbar {
        width: 884px;
    }
}

@media (max-width: 991px) {
    .navbar {
        width: 803px;
    }
}

@media (max-width: 991px) {
    .navbar {
        width: 690px;
    }

   }

@media (max-width: 816px) {
    .navbar {
        width: 611px;
    }
}


@media (max-width: 767px) {
    .navbar {
        width: 611px;
    }
    .ul-nav {
        position: fixed;
        top: 0;
        right: -100%;

        width: 50%;
        height: 100vh;
        background: rgb(54 165 25 / 47%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 20;
        transition: 0.7s all;
    }
.ul-nav li {
    margin-right: 0;
    font-size: 16px;
    z-index: 30;
}
    .hamburger {
        width: 30px;
        height: 14px;
        position: absolute;
        top: 50px;
        right: 80px;
        z-index: 30;

    }
    .hamburger__span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: #000000;
        margin-bottom: 4px;
        transition: 1s all;
        z-index: 30;
    }
    .hamburger span:last-child {
        margin-bottom: 0;

    }

.hamburger_active span:last-child {
    margin-bottom: -3px;
    z-index: 30;
}

.hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
    z-index: 30;
}
.hamburger_active span:nth-child(2) {
    display: none;
    z-index: 30;
}
.hamburger_active span:nth-child(3) {
    transform: translateY(-3px) rotate(45deg);
    z-index: 30;
}

.nav-menu_active {
    display: block;
    right: 0px;
    z-index: 30;
}

}
/* **********************************************************  */
/*                BLOCK WELCOME!!!!!!!!!!!!!!!!!!!!!                        */

/******************* adaptive **********************/
@media (max-width: 1345px) {

.welcome {
    padding: 100px;

}

.container {
    max-width: 1200px;
    margin: 0px auto;

}
.welcome__wrapper {
    width: 800px;
padding: 10px;
}


}
.img-container {
    width: 426px;
    height: 351px;

    }

.welcome__text {
    width: 500px;

    margin-left: 100px;
}


.title {
    font-family: 'Inter-Regular';
    font-size: 35px/1.3;
    color: var(--color-grey)
}

.lorem {
    margin-top: 42px;
    font-family: 'Inter-Regular';
    line-height: 35px;
    font-size: 20px;
    color: var(--color-grey);
    width: 525px;
    height: 105px;
    margin-bottom: 48px;
    }

.welcome-btn {
    width: 158px;
    height: 44px;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    background-color: var(--color-white);
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 48px;
}

    @media (max-width: 1240px) {

        .navbar {
            width: 1048px;
        }

    }
    @media (max-width: 1173px) {

        .navbar {
            width: 960px;
        }

    }

    @media (max-width: 1077px) {
        .navbar {
            width: 884px;
        }
    }

    @media (max-width: 991px) {
        .navbar {
            width: 803px;
        }
    }

    @media (max-width: 991px) {
        .navbar {
            width: 690px;
        }

       }

    @media (max-width: 816px) {
        .navbar {
            width: 611px;
        }
    }


    @media (max-width: 767px)
/****************************************************/

.welcome {
    height: 532px;
    background-color: var(--color-white);
}


.welcome__wrapper {

    height: 407px;
    display: flex;
    justify-content: space-around;
    padding: 62px 109px;
}
}

.wrapper-leafs {
    width: 448px;
    height: 407px;

}

.img-container {
    background-image: url(../img/leafs.png);
    background-size: cover;
    width: 448px;
    height: 407px;

    }


.welcome__text {
    width: 549px;
    height: 340px;
    margin-left: 220px;
}



.green-span {
    font-family: 'Inter-Regular';
    color: var(--color-green)

}

.title {
    font-family: 'Inter-Regular';
    font-size: 45px;
    Line-height: 50px;
    color: var(--color-grey)
}

.lorem {
    margin-top: 42px;
    font-family: 'Inter-Regular';
    line-height: 35px;
    font-size: 20px;
    color: var(--color-grey);
    width: 525px;
    height: 105px;
    margin-bottom: 48px;
    }

.welcome-btn {
    width: 158px;
    height: 44px;
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    background-color: var(--color-white);
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-top: 48px;
}
/* для таблетов до 768п  */

/*
!!!!!!!!!!!!!!!!!!!!              ABOUT                !!!!!!!!!!!!!!!!!!!!

*/

.about {
    height: 666px;
    background-color: #ffffff;
    margin: 0px;
}




.wrapper-about {
    width: 1222px;
    height: 479px;
    display: flex;
    justify-content: space-between;
    margin-left: 109px;
}

.img-about {
    background-image: url(../img/houseplant.png);
    background-size: cover;
    width: 464px;
    height: 479px;
    margin-left: 153px;
    }

.text-about {
    margin-top: 161px;
    width: 605px;
    height: 305px;
    margin-bottom: 155px;
}

.title-about {
    font-family: 'Inika';
    line-height: 52px;
    font-size: 40px;
    color: var(--color-green);
    font-style: normal;
    font-weight: 400;
    margin: 0;
    text-align: left;

}

.orange-text {
        color: var(--color-orange);

}

.p-about {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-grey);
    margin-top: 40px;
}

/*
!!!!!!!!!!!!!!!!!!!!          СЕКЦИЯ     service              !!!!!!!!!!!!!!!!!!!!

*/

.service {

    height: 1300px;
    background-color: #EDF2EC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.services-content {
    width: 1007px;
    height: 94px;
    margin-left: 109px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.one-line {
    width: 1222px;
    height: 477px;
    margin-left: 109px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.two-line {
    width: 1222px;
    height: 477px;
    margin-left: 109px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.title-services {
    width: 306px;


}

.service-title-text {
    font: normal 400 40px/1.3 'Inika';
    color: var(--color-green);

}

.services-btn {
    width: 559px;
    height: 50px;
    margin-left: 142px;

}

.btn-items {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

}

.btn-services {
    width: 161px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    font: normal 400 20px/1.3 'Inter-Regular';
    margin-right: 38px;
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
    text-align: center;


}

.card {
    width: 330px;
    height: 450px;
    background-color: transparent;

}


.one-first-pic {
    width: 329px;
    height: 350px;
    background-image: url(../img/first.png);
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.one-second-pic {
    width: 329px;
    height: 350px;
    background-image: url(../img/first1.png);
    display: block;
    display: block;
    border-radius: 20px 20px 0px 0px;
 }

.one-third-pic  {
    width: 329px;
    height: 350px;
    background-image: url(../img/first2.png);
    display: block;
    border-radius: 20px 20px 0px 0px;
 }


 /* two line card */

 .two-first-pic {
    width: 329px;
    height: 350px;
    background-image: url(../img/first6.png);
    display: block;
    border-radius: 20px 20px 0px 0px;
}

.two-second-pic {
    width: 329px;
    height: 350px;
    background-image: url(../img/first7.png);
    border-radius: 20px 20px 0px 0px;
 }

.two-third-pic  {
    width: 329px;
    height: 350px;
    background-image: url(../img/first8.png);
    display: block;
    border-radius: 20px 20px 0px 0px;
 }

.text-block {
    width: 327px;
    height: 99px;
    background-color: transparent;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--color-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {

    font: 700 20px/1 'Inter-Regular';
    text-align: center;
    color: var(--color-orange);
    margin-top: 10px;

}

.grey-text {
    font: 400 16px/1.25 'Inter-Regular';
    text-align: center;
    color: var(--color-grey);
margin-bottom: 36px;
margin-top: 10px;
}


/*


border: 1px solid var(--color-orange);
    font-style: normal 400 16px/1.25;
    color: var(--color-orange);
    text-align: center;
                */
/*
!!!!!!!!!!!!!!!!!!!!          СЕКЦИЯ     PRICE!              !!!!!!!!!!!!!!!!!!!!

*/

.section-prices {

    height: 560px;
    background-color: #FFFFFF;
    margin: 0px;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.prices-wrapper {
    width: 1222px;
    height: 405px;
    margin: 40px 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.options {
    width: 332px;
    height: 391px;
    display: flex;
    flex-direction: column;

}


.colomn-options {
    width: 332px;
    height: 282px;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-top: 60px;
border: 1px solid #E3E1D5;
border-radius: 20px;
padding: 34px 41px 34px 41px;
}

.btn-prices {
margin: 0px;
font: normal 700 40px/1.2 'Inter-Regular';
color: #000000;
}

.btn-options {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--color-white);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.text-btn {
    font: 700 20px/1 'Inter-Regular';
    margin-left: 40px;
    margin-top: 16px;
    text-align: left;
    color: var(--color-black);

}

.img-btn {
    width: 16px;
    height: 16px;
background-image: url(../img/accordion_btn.png);
display: block;
margin: 17px;

}


.wrapper-leafs {
    width: 452px;
    height: 405px;
display: flex;
flex-direction: column;
    justify-content: space-between;
}

.gardeners {
    color: var(--color-green);
}

.contact-us {
    width: 162px;
    height: 50px;
    color: var(--color-orange);
    font: 700 20px/1.3 'Inika';
    border: 1px solid var(--color-orange);
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    margin-top: 38px;
    margin-left: 290px;
}

.img-leafs {
    width: 152px;
    height: 174px;
    background-image: url(../img/leafs11.png);
    background-size: cover;
    margin-left: 300px;
    margin-top: 38px;

}
/*
!!!!!!!!!!!!!!!!!!!!          СЕКЦИЯ     contact!              !!!!!!!!!!!!!!!!!!!!

*/

.contact-section {
    height: 550px;
    background-color: var(--color-white);
   }

   .contact-container {
    display: flex;
flex-direction: row;

   }


.city {
    width: 450px;
    height: 50px;
    background-color: var(--color-light-green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 148px 109px 352px 64px;
    padding-right: 17px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.text-city {
    font: normal 400 20px/2 'Inter-Regular';
    margin: 5px 300px 5px 20px;
    color: var(--color-grey);
}

.img-woman {
    width: 466px;
    height: 496px;
    background-image: url(../img/contact_woman\ 1.png);
    background-size: cover;
    margin-left: 109px;
    margin-top: 53px;

}

.title-contact {
    width: 195px;
    height: 51px;
    margin: 60px 64px;
    font-weight: 700;
}




/*
!!!!!!!!!!!!!!!!!!!!          СЕКЦИЯ     footer         !!!!!!!!!!!!!!!!!!!!

*/

.footer {

    height: 130px;
    margin: 0px;


}

.img-footer {
    width: 188px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.wrapper-footer {
    width: 1222px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-top: auto;
    padding-top: 30px;

}

.copyright {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 400 20px/2.5 'Inter-Regular';
    margin-left: 0px;

}

.email-contact, .cop {
    font-size: 14px;

}
.copyright__icon-mail {
    display: flex;
    flex-direction: row;
}
.school {
width: 211px;
height: 50px;
margin-left: 324px;
margin-right: 317px;

}

.text-school {
    font: 400 20px/2.5 'Inter-Regular';

}

.icons {
    width: 32px;
    height: 32px;
}